/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

 body{
  padding-top: 60px
}
.hidden { display: none; }

/*Copyright*/
.copyright {
  font-size: 12px;
  padding: 11px 0 7px;
  background: #3e4753;
  border-top: solid 1px #777; 
}

.copyright p {
  color: #dadada;
}

.copyright p.copyright-space {
  margin-top: 12px;
}

.copyright a {
  margin: 0 5px;
  color: #72c02c;
}
.copyright a:hover {
  color: #a8f85f;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000000;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    font-weight: 700;
    line-height: 1.1;
}